h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Times New Roman', Times, serif;
}

#menu-button {
  border: 1px solid #888;
}

#editor-toggle {
  background-color: #bfe;
}
.dark #editor-toggle {
  background-color: #567;
}
